<div class="container">
    <div class="card my-3">
        <div class="card-header">
            <h2>Ejemplo de factura</h2>
        </div>
        <div class="card-body">
            <invoice-view [id]="invoice.id" [name]="invoice.name"></invoice-view>
            <div class="row">
                <div class="col">
                    <client-view [name]="invoice.client.name" 
                    [lastname]="invoice.client.lastname"
                    [address]="invoice.client.address"
                    ></client-view>
                </div>
                <div class="col">
                    <h3>Datos de la empresa</h3>
                    <company-view [name]="invoice.company.name" [fiscalNumber]="invoice.company.fiscalNumber"></company-view>
                </div>
            </div>
            <div>
                <list-items [items]="invoice.items" (removeEventEmitter)="removeItem($event)"></list-items>
                <total [total]="total"></total>
            </div>
            <form-item (addItemEventEmitter)="addItem($event)"></form-item>
        </div>
    </div>
</div>
